In [1]:
import pandas as pd

In [2]:
file = "purchase_data.csv"

In [77]:
purchase_data = pd.read_csv(file)

In [82]:
#Display the total number of players

players = purchase_data["SN"].unique()
players_df = pd.DataFrame(players)
players_count = players_df.count()

players_count_df = pd.DataFrame({"Total Players": (players_count)})

In [81]:
players_count_df

   Total Players
0            576

In [88]:
#Run basic calculations to obtain number of unique items, average price, etc.

item_name = purchase_data["Item Name"].unique()
item_name_df = pd.DataFrame(item_name)
item_count = item_name_df.count ()

total = purchase_data["Price"].sum()
average_price = total / len(purchase_data["Price"])

avg_P =  round(average_price, 2)

Number_Of_Purchases = purchase_data["Purchase ID"].count()

In [115]:
#Create a summary data frame to hold the results

Summary_df = pd.DataFrame({"Number of Unique Items": item_count, "Average Price": [avg_P], "Number of Purchases": [Number_Of_Purchases], "Total Revenue": [total]})
Summary_df   

#Optional: give the displayed data cleaner formatting

#Summary_df["Average Price"]=Summary_df["Average Price"].map("${:.2f}".format)
#Summary_df["Total Revenue"]=Summary_df["Total Revenue"].map("${:.2f}".format)
Summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [105]:
#Percentage and Count of Players by Gender

new_purchase_data_df = purchase_data[["SN", "Gender", "Age"]]
new_purchase_data_df.sort_values("SN")
drop_dup_df = new_purchase_data_df.drop_duplicates(subset = "SN")

SN_by_gender_df = drop_dup_df["Gender"].value_counts()

Male_count = SN_by_gender_df['Male']
Female_count = SN_by_gender_df['Female']
OtherNonDisclosed_count = SN_by_gender_df['Other / Non-Disclosed']

In [116]:
Gender_df = pd.DataFrame ({"Total Count":SN_by_gender_df, })
percentage = round((Gender_df["Total Count"] / 576) * 100, 2)
Gender_df["Percentage of Players"] = percentage
#Gender_df["Percentage of Players"]=Gender_df["Percentage of Players"].map("{:.2f}%".format)

In [117]:
Gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [12]:
grouped_data = purchase_data.groupby(['Gender'])

In [13]:
grouped_data.count().head(10)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [139]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

male_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]

male_purchase_count = len(male_purchase_df)

male_average_price = male_purchase_df["Price"].mean()

male_total = male_purchase_df["Price"].sum

unique_male_purchase = male_purchase_df['SN'].unique
len(unique_male_purchase())

male_avg_total = male_total() / len(unique_male_purchase())

In [130]:
female_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]

female_purchase_count = len(female_purchase_df)

female_average_price = female_purchase_df["Price"].mean

female_total = female_purchase_df["Price"].sum

unique_female_purchase = female_purchase_df['SN'].unique
len(unique_female_purchase())

female_avg_total = female_total() / len(unique_female_purchase())

In [131]:
other_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

other_purchase_count = len(other_purchase_df)

other_average_price = other_purchase_df["Price"].mean

other_total = other_purchase_df["Price"].sum

unique_other_purchase = other_purchase_df['SN'].unique
len(unique_other_purchase())

other_avg_total = other_total() / len(unique_other_purchase())

In [140]:
#Create a summary data frame to hold the results

Purchase_Analysis_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
    "Average Purchase Price ($)": [male_average_price, female_average_price(), other_average_price()],
    "Total Purchase Value ($)": [male_total(), female_total(), other_total()],
    "Avg Total Purchase per Person ($)": [male_avg_total, female_avg_total, other_avg_total]
    })

In [141]:
#Optional: give the displayed data cleaner formatting

Purchase_Analysis1_df = pd.DataFrame(Purchase_Analysis_df).set_index('Gender')

#Purchase_Analysis1_df["Average Purchase Price"] = Purchase_Analysis1_df["Average Purchase Price"].map("${:.2f}".format)
#Purchase_Analysis1_df["Total Purchase Value"] = Purchase_Analysis1_df["Total Purchase Value"].map("${:.2f}".format)
#Purchase_Analysis1_df["Avg Total Purchase per Person"] = Purchase_Analysis1_df["Avg Total Purchase per Person"].map("${:.2f}".format)

In [142]:
Purchase_Analysis1_df

,Purchase Count,Average Purchase Price ($),Total Purchase Value ($),Avg Total Purchase per Person ($)
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [19]:
#Establish bins for ages
#Categorize the existing players using the age bins. 

bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39","40+"]

drop_dup_df["Age Demographics"] = pd.cut(drop_dup_df["Age"], bins, labels=labels, include_lowest=True)
age_df = drop_dup_df.groupby("Age Demographics")

C:\Users\mokae\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [20]:
new_age = age_df.count()
del new_age["SN"]
del new_age["Gender"]

In [127]:
#Calculate the numbers and percentages by age group
#Create a summary data frame to hold the results

new_age.rename(columns={"Age":"Total Count"}, inplace=True)      
age_sum = new_age["Total Count"].sum()
age_pct = round(new_age["Total Count"] / 576 * 100, 2)
new_age["Percentage of Players"] = age_pct

#Optional: round the percentage column to two decimal points

new_age["Percentage of Players"]=new_age["Percentage of Players"].map("{:.2f}%".format)

In [128]:
new_age

                  Total Count Percentage of Players
Age Demographics
<10                        17                 2.95%
10-14                      22                 3.82%
15-19                     107                18.58%
20-24                     258                44.79%
25-29                      77                13.37%
30-34                      52                 9.03%
35-39                      31                 5.38%
40+                        12                 2.08%

In [23]:
#Bin the purchase_data data frame by age

purchase_data
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39","40+"]

purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=labels, include_lowest=True)

purchase_data1 = purchase_data.drop_duplicates(subset=['SN'])
purchase_data2 = purchase_data1[["Age Demographics", "Price"]]
age_allless10_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "<10", :]

In [24]:
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc.in the table below

#all purchases by age <10
age_less10_df = purchase_data.loc[purchase_data["Age Demographics"] == "<10", :]
#unique purchases by age <10
age_allless10_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "<10", :] 

total_less10 = len(age_less10_df) #23
total_less10_unique = len(age_allless10_df) #17
sum_less10 = age_less10_df["Price"].sum() #77.13
avgP_less10 = round(age_less10_df["Price"].mean(), 2) #3.35
avgPu_less10 = round(sum_less10 / total_less10_unique, 2) #4.53

In [25]:
#all purchases by age 10-14
age_1014_df = purchase_data.loc[purchase_data["Age Demographics"] == "10-14", :]
#unique purchases by 10-14
age_all1014_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "10-14", :] 

total_1014 = len(age_1014_df) #28
total_1014_unique = len(age_all1014_df) #22
sum_1014 = age_1014_df["Price"].sum() #82.78
avgP_1014 = round(age_1014_df["Price"].mean(),2) #2.96
avgPu_1014 = round(sum_1014 / total_1014_unique, 2) #3.76

In [26]:
#all purchases by age 15-19
age_1519_df = purchase_data.loc[purchase_data["Age Demographics"] == "15-19", :]
#unique purchases by age 15-19
age_all1519_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "15-19", :] 

total_1519 = len(age_1519_df) #136
total_1519_unique = len(age_all1519_df) #107
sum_1519 = age_1519_df["Price"].sum() #412.89
avgP_1519 = round(age_1519_df["Price"].mean(),2) #3.04
avgPu_1519 = round(sum_1519 / total_1519_unique, 2) #3.86

In [27]:
#all purchases by age 20-24
age_2024_df = purchase_data.loc[purchase_data["Age Demographics"] == "20-24", :]
#unique purchases by age 20-24
age_all2024_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "20-24", :] 

total_2024 = len(age_2024_df) #365
total_2024_unique = len(age_all2024_df) #258
sum_2024 = age_2024_df["Price"].sum() #1114.06
avgP_2024 = round(age_2024_df["Price"].mean(),2) #3.05
avgPu_2024 = round(sum_2024 / total_2024_unique, 2) #4.32

In [28]:
#all purchases by age 25-29
age_2529_df = purchase_data.loc[purchase_data["Age Demographics"] == "25-29", :]
#unique purchases by age 25-29
age_all2529_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "25-29", :] 

total_2529 = len(age_2529_df) #101
total_2529_unique = len(age_all2529_df) #77
sum_2529 = round(age_2529_df["Price"].sum(), 2) #293.00
avgP_2529 = round(age_2529_df["Price"].mean(),2) #2.90
avgPu_2529 = round(sum_2529 / total_2529_unique, 2) #3.81

In [29]:
#all purchases by age 30-34
age_3034_df = purchase_data.loc[purchase_data["Age Demographics"] == "30-34", :]
#unique purchases by age 30-34
age_all3034_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "30-34", :] 

total_3034 = len(age_3034_df) #73
total_3034_unique = len(age_all3034_df) #52
sum_3034 = round(age_3034_df["Price"].sum(), 2) #214.00
avgP_3034= round(age_3034_df["Price"].mean(),2) #2.93
avgPu_3034 = round(sum_3034 / total_3034_unique, 2) #4.12

In [30]:
#all purchases by age 35-39
age_3539_df = purchase_data.loc[purchase_data["Age Demographics"] == "35-39", :]
#unique purchases by age 35-39
age_all3539_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "35-39", :] 

total_3539 = len(age_3539_df) #41
total_3539_unique = len(age_all3539_df) #31
sum_3539 = round(age_3539_df["Price"].sum(), 2) #147.67
avgP_3539= round(age_3539_df["Price"].mean(),2) #3.60
avgPu_3539 = round(sum_3539 / total_3539_unique, 2) #4.76

In [31]:
#all purchases by age 40+
age_40_df = purchase_data.loc[purchase_data["Age Demographics"] == "40+", :]
#unique purchases by age 40+
age_all40_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "40+", :] 

total_40 = len(age_40_df) #13
total_40_unique = len(age_all40_df) #12
sum_40 = round(age_40_df["Price"].sum(), 2) #38.24
avgP_40= round(age_40_df["Price"].mean(),2) #2.94
avgPu_40 = round(sum_40 / total_40_unique, 2) #3.19

In [123]:
#Create a summary data frame to hold the results

Age_Analysis_df = pd.DataFrame({
    "Age Demographic": ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39","40+"],
    "Purchase Count": [total_less10, total_1014, total_1519, total_2024, total_2529, total_3034, total_3539, total_40],
    "Average Purchase Price": [avgP_less10, avgP_1014, avgP_1519, avgP_2024, avgP_2529, avgP_3034, avgP_3539, avgP_40],
    "Total Purchase Value": [sum_less10, sum_1014, sum_1519, sum_2024, sum_2529, sum_3034, sum_3539, sum_40 ],
    "Avg Total Purchase per Person": [avgPu_less10, avgPu_1014, avgPu_1519, avgPu_2024, avgPu_2529, avgPu_3034, avgPu_3539, avgPu_40 ]
    })
Age1_Analysis_df = pd.DataFrame(Age_Analysis_df).set_index('Age Demographic')

#Optional: give the displayed data cleaner formatting

#Age1_Analysis_df["Average Purchase Price"] = Age1_Analysis_df["Average Purchase Price"].map("${:.2f}".format)
#Age1_Analysis_df["Total Purchase Value"] = Age1_Analysis_df["Total Purchase Value"].map("${:.2f}".format)
#Age1_Analysis_df["Avg Total Purchase per Person"] = Age1_Analysis_df["Avg Total Purchase per Person"].map("${:.2f}".format)

In [124]:
Age1_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographic,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [125]:
#Run basic calculations to obtain the results in the table below

top_spender_df = purchase_data.groupby(["SN"])
totalP_top_spender = top_spender_df["Price"].sum()
meanP_top_spender = round(top_spender_df["Price"].mean(),2)
count_top_spender = purchase_data["SN"].value_counts

#Create a summary data frame to hold the results

top_df = pd.DataFrame({"Purchase Count":count_top_spender(),"Average Purchase Price": meanP_top_spender, "Total Purchase Value":totalP_top_spender})

#Sort the total purchase value column in descending order

top_df = top_df.sort_values("Total Purchase Value", ascending=False)

#Optional: give the displayed data cleaner formatting

#top_df["Total Purchase Value"]=top_df["Total Purchase Value"].map("${:.2f}".format)
#top_df["Average Purchase Price"]=top_df["Average Purchase Price"].map("${:.2f}".format)

In [126]:
top_df.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
Lisosia93                 5                    3.79                 18.96
Idastidru52               4                    3.86                 15.45
Chamjask73                3                    4.61                 13.83
Iral74                    4                    3.40                 13.62
Iskadarya95               3                    4.37                 13.10

In [66]:
#Retrieve the Item ID, Item Name, and Item Price columns
pop_purchase_data_df  = purchase_data[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value
group_pop = pop_purchase_data_df.groupby(["Item ID", "Item Name"])
total_price_pop = group_pop["Price"].sum()
count_pop = group_pop["Item ID"].count()

#Create a summary data frame to hold the results
popular_df = pd.DataFrame(count_pop)
popular_df["Total Purchase Value ($)"]=total_price_pop
popular_df["Item Price"] = pop_purchase_data_df["Price"]
popular_df.rename(columns={"Item ID":"Purchase Count"}, inplace=True)

#Sort the purchase count column in descending order
popular_df = popular_df.sort_values("Purchase Count", ascending=False)

In [74]:
popular_df.head()

,,Purchase Count,Total Purchase Value ($),Item Price
Item ID,Item Name,,,
92,Final Critic,13,59.99,NaN
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,NaN
145,Fiery Glass Crusader,9,41.22,NaN
132,Persuasion,9,28.99,NaN
108,"Extraction, Quickblade Of Trembling Hands",9,31.77,NaN

In [75]:
#Sort the above table by total purchase value in descending order

popular_df_profitable=popular_df.sort_values("Total Purchase Value ($)", ascending=False)

In [70]:
popular_df_profitable.head()

,,Purchase Count,Total Purchase Value ($),Item Price
Item ID,Item Name,,,
92,Final Critic,13,59.99,NaN
178,"Oathbreaker, Last Hope of the Breaking Storm",12,50.76,NaN
82,Nirvana,9,44.10,NaN
145,Fiery Glass Crusader,9,41.22,NaN
103,Singed Scalpel,8,34.80,NaN