In [1]:
import pandas as pd

In [2]:
file = "purchase_data.csv"

In [42]:
purchase_data = pd.read_csv(file)

In [43]:
purchase_data["SN"].value_counts()

Lisosia93      5
Iral74         4
Idastidru52    4
Chamimla85     3
Phaena87       3
              ..
Irillo49       1
Peorith44      1
Jiskirran77    1
Chanadar44     1
Marundi65      1
Name: SN, Length: 576, dtype: int64

In [5]:
players = purchase_data["SN"].unique()
players_df = pd.DataFrame(players)
players_count = players_df.count ()

players_count_df = pd.DataFrame({"Total Players": (players_count)})
players_count_df

   Total Players
0            576

In [94]:
item_name = purchase_data["Item Name"].unique()
item_name_df = pd.DataFrame(item_name)
item_count = item_name_df.count ()

item_count_df = pd.DataFrame({"Number of Unique Items": (item_count)})

In [93]:
purchase_data
total = purchase_data["Price"].sum()
average_price = total / len(purchase_data["Price"])

avg_P =  round(average_price, 2)

In [92]:
Number_Of_Purchases = purchase_data["Purchase ID"].count()

In [9]:
Summary_df = pd.DataFrame({"Number of Unique Items": item_count, "Average Price": [avg_P], "Number of Purchases": [Number_Of_Purchases], "Total Revenue": [total]})
Summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [95]:
new_purchase_data_df = purchase_data[["SN", "Gender", "Age"]]
new_purchase_data_df.sort_values("SN")
drop_dup_df = new_purchase_data_df.drop_duplicates(subset = "SN")

SN_by_gender_df = drop_dup_df["Gender"].value_counts()

Male_count = SN_by_gender_df['Male']
Female_count = SN_by_gender_df['Female']
OtherNonDisclosed_count = SN_by_gender_df['Other / Non-Disclosed']

In [91]:
Gender_df = pd.DataFrame ({"Total Count":SN_by_gender_df, })
percentage = round(Gender_df["Total Count"] / 576 * 100, 2)
Gender_df["Percentage of Players"] = percentage
Gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91