In [1]:
import pandas as pd

In [2]:
file = "purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file)

In [12]:
purchase_data["SN"].value_counts()

Lisosia93      5
Iral74         4
Idastidru52    4
Rarallo90      3
Lisopela58     3
              ..
Indcil77       1
Ilaesudil92    1
Chamalo71      1
Chadjask85     1
Peorith44      1
Name: SN, Length: 576, dtype: int64

In [20]:
players = purchase_data["SN"].unique()

players_df = pd.DataFrame(players)
players_df

                 0
0          Lisim78
1      Lisovynya38
2       Ithergue48
3    Chamassasya86
4        Iskosia90
..             ...
571         Hala31
572     Jiskjask80
573     Aethedru70
574     Yathecal72
575        Sisur91

[576 rows x 1 columns]