In [1]:
import pandas as pd

In [2]:
file = "purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file)

In [12]:
purchase_data["SN"].value_counts()

Lisosia93      5
Iral74         4
Idastidru52    4
Rarallo90      3
Lisopela58     3
              ..
Indcil77       1
Ilaesudil92    1
Chamalo71      1
Chadjask85     1
Peorith44      1
Name: SN, Length: 576, dtype: int64

In [27]:
players = purchase_data["SN"].unique()

players_df = pd.DataFrame(players)
players_count = players_df.count ()

players_count_df = pd.DataFrame({"Total Players": (players_count)})
players_count_df

   Total Players
0            576