In [2]:
import pandas as pd

In [3]:
file = "purchase_data.csv"

In [4]:
purchase_data = pd.read_csv(file)

In [5]:
purchase_data["SN"].value_counts()

Lisosia93        5
Iral74           4
Idastidru52      4
Yathecal82       3
Lisim78          3
                ..
Rianistast50     1
Undilsan50       1
Yadam35          1
Undimsya85       1
Sondassasya91    1
Name: SN, Length: 576, dtype: int64

In [6]:
players = purchase_data["SN"].unique()
players_df = pd.DataFrame(players)
players_count = players_df.count ()

players_count_df = pd.DataFrame({"Total Players": (players_count)})
players_count_df

   Total Players
0            576

In [7]:
item_name = purchase_data["Item Name"].unique()
item_name_df = pd.DataFrame(item_name)
item_count = item_name_df.count ()

item_count_df = pd.DataFrame({"Number of Unique Items": (item_count)})

In [8]:
purchase_data
total = purchase_data["Price"].sum()
average_price = total / len(purchase_data["Price"])

avg_P =  round(average_price, 2)

In [9]:
Number_Of_Purchases = purchase_data["Purchase ID"].count()

In [10]:
Summary_df = pd.DataFrame({"Number of Unique Items": item_count, "Average Price": [avg_P], "Number of Purchases": [Number_Of_Purchases], "Total Revenue": [total]})
Summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [11]:
new_purchase_data_df = purchase_data[["SN", "Gender", "Age"]]
new_purchase_data_df.sort_values("SN")
drop_dup_df = new_purchase_data_df.drop_duplicates(subset = "SN")

SN_by_gender_df = drop_dup_df["Gender"].value_counts()

Male_count = SN_by_gender_df['Male']
Female_count = SN_by_gender_df['Female']
OtherNonDisclosed_count = SN_by_gender_df['Other / Non-Disclosed']

In [12]:
Gender_df = pd.DataFrame ({"Total Count":SN_by_gender_df, })
percentage = round(Gender_df["Total Count"] / 576 * 100, 2)
Gender_df["Percentage of Players"] = percentage
Gender_df

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

In [15]:
grouped_data = purchase_data.groupby(['Gender'])
print (grouped_data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000205B14A0828>

In [18]:
grouped_data.count().head(10)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [103]:
male_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]

male_purchase_count = len(male_purchase_df)
male_purchase_count

male_average_price = male_purchase_df["Price"].mean
male_average_price()

male_total = male_purchase_df["Price"].sum
male_total()

unique_male_purchase = male_purchase_df['SN'].unique
unique_male_purchase()
len(unique_male_purchase())

male_avg_total = male_total() / len(unique_male_purchase())
male_avg_total

4.065371900826446

In [102]:
#female_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]

female_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]

female_purchase_count = len(female_purchase_df)
female_purchase_count

female_average_price = female_purchase_df["Price"].mean
female_average_price()

female_total = female_purchase_df["Price"].sum
female_total()

unique_female_purchase = female_purchase_df['SN'].unique
unique_female_purchase()
len(unique_female_purchase())

female_avg_total = female_total() / len(unique_female_purchase())
female_avg_total

4.468395061728395

In [104]:
#other_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]
other_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

other_purchase_count = len(other_purchase_df)
other_purchase_count

other_average_price = other_purchase_df["Price"].mean
other_average_price()

other_total = other_purchase_df["Price"].sum
other_total()

unique_other_purchase = other_purchase_df['SN'].unique
unique_other_purchase()
len(unique_other_purchase())

other_avg_total = other_total() / len(unique_other_purchase())
other_avg_total

4.5627272727272725

In [111]:
Purchase_Analysis_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
    "Average Purchase Price": [male_average_price(), female_average_price(), other_average_price()],
    "Total Purchase Value": [male_total(), female_total(), other_total()],
    "Avg Total Purchase per Person": [male_avg_total, female_avg_total, other_avg_total]
    })

Purchase_Analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Male,652,3.017853,1967.64,4.065372
1,Female,113,3.203009,361.94,4.468395
2,Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [115]:
new_Purchase_Analysis_df = pd.DataFrame(Purchase_Analysis_df).set_index('Gender')
new_Purchase_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727