In [1]:
import pandas as pd

In [2]:
file = "purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file)

In [4]:
purchase_data["SN"].value_counts()

Lisosia93        5
Idastidru52      4
Iral74           4
Saedaiphos46     3
Sondastsda82     3
                ..
Marokian45       1
Jiskjask60       1
Frichadar89      1
Mindjasksya61    1
Eusri26          1
Name: SN, Length: 576, dtype: int64

In [5]:
players = purchase_data["SN"].unique()

players_df = pd.DataFrame(players)
players_count = players_df.count ()

players_count_df = pd.DataFrame({"Total Players": (players_count)})
players_count_df

   Total Players
0            576

In [6]:
item_name = purchase_data["Item Name"].unique()
item_name_df = pd.DataFrame(item_name)
item_count = item_name_df.count ()

item_count_df = pd.DataFrame({"Number of Unique Items": (item_count)})
item_count_df

   Number of Unique Items
0                     179

In [7]:
purchase_data
total = purchase_data["Price"].sum()
average_price = total / len(purchase_data["Price"])

avg_P =  round(average_price, 2)
avg_P

3.05

In [8]:
Number_Of_Purchases = purchase_data["Purchase ID"].count()
Number_Of_Purchases

780

In [11]:
Summary_df = pd.DataFrame({"Number of Unique Items": [item_count_df], "Average Price": [avg_P], "Number of Purchases": [Number_Of_Purchases], "Total Revenue": [total]})
Summary_df

,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,Number of Unique Items 0 ...,3.05,780,2379.77