In [1]:
import pandas as pd

In [2]:
file = "purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(file)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [4]:
purchase_data["SN"].value_counts()

Lisosia93        5
Iral74           4
Idastidru52      4
Rarallo90        3
Aelin32          3
                ..
Filrion59        1
Aerithnucal56    1
Rairin89         1
Phistyn52        1
Eusri44          1
Name: SN, Length: 576, dtype: int64

In [45]:
players = purchase_data["SN"].unique()
players_df = pd.DataFrame(players)
players_count = players_df.count()

players_count_df = pd.DataFrame({"Total Players": (players_count)})
players_count_df

   Total Players
0            576

In [6]:
item_name = purchase_data["Item Name"].unique()
item_name_df = pd.DataFrame(item_name)
item_count = item_name_df.count ()

item_count_df = pd.DataFrame({"Number of Unique Items": (item_count)})

In [7]:
purchase_data
total = purchase_data["Price"].sum()
average_price = total / len(purchase_data["Price"])

avg_P =  round(average_price, 2)

In [37]:
Number_Of_Purchases = purchase_data["Purchase ID"].count()

780

In [9]:
Summary_df = pd.DataFrame({"Number of Unique Items": item_count, "Average Price": [avg_P], "Number of Purchases": [Number_Of_Purchases], "Total Revenue": [total]})
Summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [38]:
new_purchase_data_df = purchase_data[["SN", "Gender", "Age"]]
new_purchase_data_df.sort_values("SN")
drop_dup_df = new_purchase_data_df.drop_duplicates(subset = "SN")

SN_by_gender_df = drop_dup_df["Gender"].value_counts()

Male_count = SN_by_gender_df['Male']
Female_count = SN_by_gender_df['Female']
OtherNonDisclosed_count = SN_by_gender_df['Other / Non-Disclosed']

In [54]:
Gender_df = pd.DataFrame ({"Total Count":SN_by_gender_df, })
percentage = round((Gender_df["Total Count"] / 576) * 100, 2)
Gender_df["Percentage of Players"] = percentage
Gender_df["Percentage of Players"]=Gender_df["Percentage of Players"].map("{:.2f}%".format)
Gender_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [12]:
grouped_data = purchase_data.groupby(['Gender'])

In [13]:
grouped_data.count().head(10)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [14]:
male_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Male", :]

male_purchase_count = len(male_purchase_df)

male_average_price = male_purchase_df["Price"].mean

male_total = male_purchase_df["Price"].sum

unique_male_purchase = male_purchase_df['SN'].unique
len(unique_male_purchase())

male_avg_total = male_total() / len(unique_male_purchase())

In [15]:
female_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Female", :]

female_purchase_count = len(female_purchase_df)

female_average_price = female_purchase_df["Price"].mean

female_total = female_purchase_df["Price"].sum

unique_female_purchase = female_purchase_df['SN'].unique
len(unique_female_purchase())

female_avg_total = female_total() / len(unique_female_purchase())

In [16]:
other_purchase_df = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", :]

other_purchase_count = len(other_purchase_df)

other_average_price = other_purchase_df["Price"].mean

other_total = other_purchase_df["Price"].sum

unique_other_purchase = other_purchase_df['SN'].unique
len(unique_other_purchase())

other_avg_total = other_total() / len(unique_other_purchase())

In [17]:
Purchase_Analysis_df = pd.DataFrame({
    "Gender": ["Male", "Female", "Other / Non-Disclosed"],
    "Purchase Count": [male_purchase_count, female_purchase_count, other_purchase_count],
    "Average Purchase Price": [male_average_price(), female_average_price(), other_average_price()],
    "Total Purchase Value": [male_total(), female_total(), other_total()],
    "Avg Total Purchase per Person": [male_avg_total, female_avg_total, other_avg_total]
    })

In [18]:
Purchase_Analysis1_df = pd.DataFrame(Purchase_Analysis_df).set_index('Gender')
Purchase_Analysis1_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,3.017853,1967.64,4.065372
Female,113,3.203009,361.94,4.468395
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [19]:
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39","40+"]

drop_dup_df["Age Demographics"] = pd.cut(drop_dup_df["Age"], bins, labels=labels, include_lowest=True)
age_df = drop_dup_df.groupby("Age Demographics")

C:\Users\mokae\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [55]:
new_age = age_df.count()
del new_age["SN"]
del new_age["Gender"]
new_age.rename (columns = {"Age":"Total Count"})      

age_sum = new_age["Age"].sum

age_pct = round(new_age["Age"] / 576 * 100, 2)
 
new_age["Percentage of Players"] = age_pct
new_age["Percentage of Players"]=new_age["Percentage of Players"].map("{:.2f}%".format)

new_age

                  Age Percentage of Players
Age Demographics
<10                17                 2.95%
10-14              22                 3.82%
15-19             107                18.58%
20-24             258                44.79%
25-29              77                13.37%
30-34              52                 9.03%
35-39              31                 5.38%
40+                12                 2.08%

In [21]:
purchase_data
bins = [0,9,14,19,24,29,34,39,100]
labels = ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39","40+"]

purchase_data["Age Demographics"] = pd.cut(purchase_data["Age"], bins, labels=labels, include_lowest=True)

purchase_data1 = purchase_data.drop_duplicates(subset=['SN'])
purchase_data2 = purchase_data1[["Age Demographics", "Price"]]
age_allless10_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "<10", :]

In [22]:
#all purchases by age <10
age_less10_df = purchase_data.loc[purchase_data["Age Demographics"] == "<10", :]
#unique purchases by age <10
age_allless10_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "<10", :] 

total_less10 = len(age_less10_df) #23
total_less10_unique = len(age_allless10_df) #17
sum_less10 = age_less10_df["Price"].sum() #77.13
avgP_less10 = round(age_less10_df["Price"].mean(), 2) #3.35
avgPu_less10 = round(sum_less10 / total_less10_unique, 2) #4.53

In [23]:
#all purchases by age 10-14
age_1014_df = purchase_data.loc[purchase_data["Age Demographics"] == "10-14", :]
#unique purchases by 10-14
age_all1014_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "10-14", :] 

total_1014 = len(age_1014_df) #28
total_1014_unique = len(age_all1014_df) #22
sum_1014 = age_1014_df["Price"].sum() #82.78
avgP_1014 = round(age_1014_df["Price"].mean(),2) #2.96
avgPu_1014 = round(sum_1014 / total_1014_unique, 2) #3.76

In [24]:
#all purchases by age 15-19
age_1519_df = purchase_data.loc[purchase_data["Age Demographics"] == "15-19", :]
#unique purchases by age 15-19
age_all1519_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "15-19", :] 

total_1519 = len(age_1519_df) #136
total_1519_unique = len(age_all1519_df) #107
sum_1519 = age_1519_df["Price"].sum() #412.89
avgP_1519 = round(age_1519_df["Price"].mean(),2) #3.04
avgPu_1519 = round(sum_1519 / total_1519_unique, 2) #3.86

In [25]:
#all purchases by age 20-24
age_2024_df = purchase_data.loc[purchase_data["Age Demographics"] == "20-24", :]
#unique purchases by age 20-24
age_all2024_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "20-24", :] 

total_2024 = len(age_2024_df) #365
total_2024_unique = len(age_all2024_df) #258
sum_2024 = age_2024_df["Price"].sum() #1114.06
avgP_2024 = round(age_2024_df["Price"].mean(),2) #3.05
avgPu_2024 = round(sum_2024 / total_2024_unique, 2) #4.32

In [26]:
#all purchases by age 25-29
age_2529_df = purchase_data.loc[purchase_data["Age Demographics"] == "25-29", :]
#unique purchases by age 25-29
age_all2529_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "25-29", :] 

total_2529 = len(age_2529_df) #101
total_2529_unique = len(age_all2529_df) #77
sum_2529 = round(age_2529_df["Price"].sum(), 2) #293.00
avgP_2529 = round(age_2529_df["Price"].mean(),2) #2.90
avgPu_2529 = round(sum_2529 / total_2529_unique, 2) #3.81

In [27]:
#all purchases by age 30-34
age_3034_df = purchase_data.loc[purchase_data["Age Demographics"] == "30-34", :]
#unique purchases by age 30-34
age_all3034_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "30-34", :] 

total_3034 = len(age_3034_df) #73
total_3034_unique = len(age_all3034_df) #52
sum_3034 = round(age_3034_df["Price"].sum(), 2) #214.00
avgP_3034= round(age_3034_df["Price"].mean(),2) #2.93
avgPu_3034 = round(sum_3034 / total_3034_unique, 2) #4.12

In [28]:
#all purchases by age 35-39
age_3539_df = purchase_data.loc[purchase_data["Age Demographics"] == "35-39", :]
#unique purchases by age 35-39
age_all3539_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "35-39", :] 

total_3539 = len(age_3539_df) #41
total_3539_unique = len(age_all3539_df) #31
sum_3539 = round(age_3539_df["Price"].sum(), 2) #147.67
avgP_3539= round(age_3539_df["Price"].mean(),2) #3.60
avgPu_3539 = round(sum_3539 / total_3539_unique, 2) #4.76

In [29]:
#all purchases by age 40+
age_40_df = purchase_data.loc[purchase_data["Age Demographics"] == "40+", :]
#unique purchases by age 40+
age_all40_df = purchase_data2.loc[purchase_data2["Age Demographics"] == "40+", :] 

total_40 = len(age_40_df) #13
total_40_unique = len(age_all40_df) #12
sum_40 = round(age_40_df["Price"].sum(), 2) #38.24
avgP_40= round(age_40_df["Price"].mean(),2) #2.94
avgPu_40 = round(sum_40 / total_40_unique, 2) #3.19

In [30]:
Age_Analysis_df = pd.DataFrame({
    "Age Demographic": ["<10", "10-14", "15-19", "20-24","25-29", "30-34", "35-39","40+"],
    "Purchase Count": [total_less10, total_1014, total_1519, total_2024, total_2529, total_3034, total_3539, total_40],
    "Average Purchase Price": [avgP_less10, avgP_1014, avgP_1519, avgP_2024, avgP_2529, avgP_3034, avgP_3539, avgP_40],
    "Total Purchase Value": [sum_less10, sum_1014, sum_1519, sum_2024, sum_2529, sum_3034, sum_3539, sum_40 ],
    "Avg Total Purchase per Person": [avgPu_less10, avgPu_1014, avgPu_1519, avgPu_2024, avgPu_2529, avgPu_3034, avgPu_3539, avgPu_40 ]
    })

Age1_Analysis_df = pd.DataFrame(Age_Analysis_df).set_index('Age Demographic')
Age1_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Demographic,,,,
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-39,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [66]:
#  purchase_data
top_spender_df = purchase_data.groupby(["SN"])
totalP_top_spender = top_spender_df["Price"].sum()
totalP_top_spender

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [91]:
#Retrieve the Item ID, Item Name, and Item Price columns
purchase_data

pop_purchase_data_df  = purchase_data[["Item ID", "Item Name", "Price"]]
pop_purchase_data_df

group_pop = pop_purchase_data_df.groupby(["Item ID", "Item Name"])
total_price_pop = group_pop["Price"].sum()
total_price_pop = total_price_pop.sort_values(ascending = False)
total_price_pop

count_pop = group_pop["Item ID"].count()
count_pop

popular_df = pd.DataFrame(total_price_pop)
popular_df["Purchase Count"] = count_pop


popular_df

                                                      Price  Purchase Count
Item ID Item Name
92      Final Critic                                  59.99              13
178     Oathbreaker, Last Hope of the Breaking Storm  50.76              12
82      Nirvana                                       44.10               9
145     Fiery Glass Crusader                          41.22               9
103     Singed Scalpel                                34.80               8
...                                                     ...             ...
28      Flux, Destroyer of Due Diligence               2.12               2
125     Whistling Mithril Warblade                     2.00               2
126     Exiled Mithril Longsword                       2.00               1
104     Gladiator's Glaive                             1.93               1
42      The Decapitator                                1.75               1

[179 rows x 2 columns]